<app-nav-bar></app-nav-bar>
<div style="padding: 2%;">
    <div style="margin: auto; width: 62%;">
        <form>
            <input type="text" placeholder="Search by doctors..." name="search" (input)="searchApps($event)">
        </form>
    </div>
    
    <table style="width:100%">
        <tr>
            <th>Doctor Name</th>
            <th>Specialty</th>
            <th>Date (mm/dd/yyyy)</th>
            <th>Update Appointment</th>
        </tr>
        <tr *ngFor="let appointment of searchedApps">
            <td (click)="loadDoctorPage(appointment.doctorId)" style="cursor: pointer;">{{appointment.doctorName}}</td>
            <td>{{appointment.doctorSpecialty}}</td>
            <td><input type="date" [(ngModel)]="appointment.date" id="date" name="date"></td>
            <td>
                <div class="clearfix">
                    <button (click)="updateAppointment(appointment.id, appointment.doctorId, appointment.date)" class="signupbtn">Update</button>
                </div>
                <div class="clearfix">
                    <button (click)="cancelAppointment(appointment.id)" class="signupbtn">Cancel</button>
                </div>
            </td>
        </tr>
    </table>

    <div class="title">
        <label>{{showEmptyDialogue}}</label>
    </div>
</div>

