<app-nav-bar></app-nav-bar>
<div class="card" style="margin: auto">
    <h1>{{doctorName}}</h1>
    <p class="title">{{doctorDegrees}}</p>
    <p><b>{{doctorSpecialty}}</b></p>
    <div style="padding: 2%;">
        <p>{{doctorDescription}}</p>
    </div>

    <form style="padding: 5%;">
        <label for="date">Date: </label>
        <input type="date" [(ngModel)]="date" id="date" name="date">

        <div style="padding:2%;" class="clearfix">
            <button  class="signupbtn" (click)="createAppointment()">Take Appointment</button>
        </div>
    </form>
      
</div>