<app-admin-nav-bar></app-admin-nav-bar>
<div class="card">
    <form>
        <h1 style="text-align: center;">New Admin Profile</h1>
            <hr>
    
            <label for="username"><b>Username</b></label>
            <input type="text" [(ngModel)]="username" placeholder="Enter Username" name="username" required>
      
            <label for="psw"><b>Password</b></label>
            <input type="password" [(ngModel)]="password" placeholder="Enter Password" name="psw" required>
      
            <label for="psw-repeat"><b>Repeat Password</b></label>
            <input type="password" [(ngModel)]="confirmPassword" placeholder="Repeat Password" name="psw-repeat" required>
            
            <div class="clearfix">
                <button (click)="createAdmin()" class="signupbtn">Create Admin</button>
            </div>
    </form> 
</div>